{% extends "base.html" %}

{% block content %}

<h1>Название: {{ book.name }}</h1>

<p><strong>Автор:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author.pk }}</a></p>
<p><strong>Жанр:</strong> {{ book.genre }}</p>
<p><strong>Описание:</strong> {{ book.description }}</p>
<p><strong>Рейтинг:</strong> {{ book.rating }}</p>
<p><strong>Доступность:</strong> {{ book.available }}</p>

<p class="price">${{ book.price }}</p>
<form action="{% url "cart/cart_add" book.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Добавить в корзину">
</form>

{% endblock %}