{% extends "base.html" %}
{% load static %}
{% block title %}
    Ваша корзина
{% endblock %}
{% block content %}
    <h1>Ваша корзина</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Image</th>
            <th>Book</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with book=item.book %}
                <tr>
                    <td>
                        <a href="{{ book.get_absolute_url }}">
                            <img src="
                                {% if book.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static "img/no_image.png" %}
                                {% endif %}">
                        </a>
                    </td>
                    <td>{{ book.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "cart/cart_remove" book.id%}">Удалить</a></td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "shop/book_list" %}" class="button light">Продолжить покупки</a>
        <a href="{% url "orders/order_create" %}" class="button">
            Checkout
        </a>
    </p>
{% endblock %}